# JavaTrafficSimulator properties file

# Debug (default: false)
#app.debug=true

# Font settings
#app.font.family=sans-serif
#app.font.size=4

# Console settings (default: Courier New, 14)
#console.font.family=Courier New
#console.font.size=14

# Net that is used at startup of the application (default: default)
net.name.default=ramp

# Factor by which the spawning should take place. 1 means real time speed. 1440 = 1 day in one minute (default: 1440.0)
#net.spawning.timefactor=1440.0

# Path formats (default: src/main/resources/%s.net.xml , src/main/resources/%s.rou.xml)
#path.net=src/main/resources/%s.net.xml
#path.routes=src/main/resources/%s.rou.xml

# Radius in meters in which a agent is searched (default: 30.0)
#click.radius=30.0

# The 'virtual' duration of one simulation step in seconds (default: 0.5)
#simulation.step.duration=0.5

# A factor which accelerates wallclock time (default: 1.0)
#simulation.wallclock.factor=1.0

# Minimum gap between wall clock time and simulation time before stopping simulating [s] (default: 20.0)
#simulation.wallclock.gap=20.0

# Allow collisions? (default: true)
#simulation.collisions=true

# Interpolate the wall clock state (default: true)
#simulation.wallclock.interpolate=true

# Keep the last Net for this amount of time in [s] (default: 10.0)
#simulation.history.time=10.0

# Size of the floating average for tick duration (default: 20)
#simulation.tick.averagetime=20

# The available modes are: normal|velocity (default: normal)
agent.render.colormode=velocity

# Show the agents name (default: false)
#agent.render.infos=false

# Distance [m] the agent try to hold to the next agent next to him (default: 10.0)
#agent.realistic.securedistance=10.0

# Factor how patient an agent is. Value from 0 (no patience, wants to overtake other agent as soon as possible) to 1 (never wants to overtake other agents) (default: 0.3)
#agent.realistic.patiencefactor=0.3

# Chance by which a agent will slow down from the maximum possible velocity (default: 0.3)
#agent.realistic.nigglechance=0.3

# Factor how much the agent will niggle maximally. 0 means no slow down. 1 means slow maximally in the worst case (default: 0.6)
#agent.realistic.nigglefactor=0.6

# Lane changing of agent animated (default: true)
#agent.langechang.animation=false

# Duration [s] of lane change animation (default: 0.3)
agent.lanechange.animation.duration=0.3

# Length of the debug acceleration indicator
#agent.acceleration.debug.indicator.lenght=5

# Available color modes are: normal|density|timemeanspeed|spacemeanspeed (default: normal)
#lane.render.colormode=normal

# Show the lanes name and statistics (default: false)
lane.render.infos=true
